* {
    margin: 0;
    padding: 0;
    background-color: red;
}

body {
    background-color: #232323;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.btn {
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
    background-color: rgb(255, 170, 1);
    font-weight: bold;
}